.header{
    height: 60px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: #0f0f0f;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding-bottom: 5px;

    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
}
.mid-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;

    max-width: 500px;

    display: flex;
    align-items: center;
}
.right-section {
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-right: 10px;

    flex-shrink: 0;
}

.hamburger-menu {
    height: 24px;

    margin-left: 24px;
    margin-right: 20px;

    cursor: pointer;
}
.yt-icon {
    cursor: pointer;
}

.search-section {
    display: flex;
    align-items: center;
    flex: 1;
    
    height: 34px;

    padding-left: 10px;

    font-family: Roboto, Arial;
    font-size: 15px;

    border: 1px solid rgb(48, 48, 48);
    border-radius: 30px;

    background-color: rgb(18, 18, 18);
}

.search-bar {
    flex: 1;

    height: 30px;
    padding-left: 10px;

    font-family: Roboto, Arial;
    font-size: 15px;

    border: none;
    outline: none;

    background-color: rgb(18, 18, 18);

    width: 0;

    color:white;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 15px;
}

.search-button {
    height: 34px;
    width: -100px;
    
    background-color: rgb(18, 18, 18);
    border-radius: 30px;
    border-color: rgb(18, 18, 18); 
    border-style: solid;

    cursor: pointer;
}
.mic-button {
    border-radius: 100%;
    height: 40px;
    width: 40px;

    margin-left: 20px;

    background: rgb(37, 37, 37);
    border: 1px solid rgb(48, 48, 48);

    cursor: pointer;

    padding-right: 5px;
    padding-top: 5px;
}

.upload-icon {
 height: 24px;

 cursor: pointer;
}

.notification-container {
    position: relative;
}
.notification-container .tool-tip {
    position: absolute;

    color: white;
    background-color: gray;
    opacity: 0;

    font-family: Roboto, Arial;
    font-size: 12px;

    top: 40px;
    left: -36px;

    padding: 8px;
    border-radius: 4px;

    transition: opacity 0.15s;

    pointer-events: none;
}

.notification-container:hover .tool-tip{
    opacity: 0.9;
}

.notification-count{
    position: absolute;
    top: -4px;
    right: -5px;

    color: white;
    background-color: rgb(204, 0, 0);

    font-family: Roboto, Arial;
    font-size: 11px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 5px;

    border-radius: 100%;
}
.notification-icon{
    margin-top: 3px;
    height: 24px;

    cursor: pointer;
}

.pfp-icon {
    height: 30px;
    border-radius: 15px;

    cursor: pointer;
}